repos:
  - repo: .
    rev: d67a0fb
    hooks:
      - id: conventional-msg
        stages: [commit-msg]
  - repo: local
    hooks:
    - id: pytest
      name: pytest
      entry: .venv/bin/pytest
      language: script
      pass_filenames: false
      always_run: true
      stages: [pre-commit]
